# **Ejercicios de pair programming Módulo 1**
## **Lección 13**
### **Python + SQL 1**

---


1. Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [2]:
import mysql.connector
import pandas as pd

mytabla = mysql.connector.connect(
                                  user = 'root', password = 'AlumnaAdalab',
                                  host = '127.0.0.1', database = 'northwind')

mycursor = mytabla.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('adalab',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwind',)
('performance_schema',)
('proyecto',)
('sakila',)
('sports_analytics',)
('sys',)
('tienda',)
('tienda_zapatillas',)
('world',)

2. Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [3]:
mytabla = mysql.connector.connect(
                                  user = 'root', password = 'AlumnaAdalab',
                                  host = '127.0.0.1', database = 'northwind')

mycursor = mytabla.cursor()

mycursor.execute("SHOW TABLES")

lista_tablas_northwind = []

for x in mycursor:
    lista_tablas_northwind.append(x[0])

print(lista_tablas_northwind)

['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers', 'territories']

3. ¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [4]:
mytabla = mysql.connector.connect(
                                  user = 'root', password = 'AlumnaAdalab',
                                  host = '127.0.0.1', database = 'tienda')

mycursor = mytabla.cursor()

for tabla in lista_tablas_northwind:
    mycursor.execute(f"SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{tabla}'")

    for x in mycursor:
        print(x)

('def', 'northwind', 'categories', 'category_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'category_name', 2, None, 'NO', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'description', 3, None, 'YES', 'longtext', 4294967295, 4294967295, None, None, None, 'utf8', 'utf8_general_ci', 'longtext', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'picture', 4, None, 'YES', 'longblob', 4294967295, 4294967295, None, None, None, None, None, 'longblob', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customer_customer_demo', 'customer_id', 1, None, 'NO', 'char', 5, 15, None, None, None, 'utf8', 'utf8_general_ci', 'char(5)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customer_customer_demo', 'customertype_id', 2, None, 'NO', 'char', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'char(10)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customer_demographics', 'customer_type_id', 1, None, 'NO', 'char', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'char(10)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customer_demographics', 'customer_desc', 2, None, 'YES', 'longtext', 4294967295, 4294967295, None, None, None, 'utf8', 'utf8_general_ci', 'longtext', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'customer_id', 1, None, 'NO', 'char', 5, 15, None, None, None, 'utf8', 'utf8_general_ci', 'char(5)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'company_name', 2, None, 'NO', 'varchar', 40, 120, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(40)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'contact_name', 3, None, 'YES', 'varchar', 30, 90, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(30)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'contact_title', 4, None, 'YES', 'varchar', 30, 90, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(30)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'address', 5, None, 'YES', 'varchar', 60, 180, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(60)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'city', 6, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'region', 7, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'postal_code', 8, None, 'YES', 'varchar', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(10)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'country', 9, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'phone', 10, None, 'YES', 'varchar', 24, 72, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(24)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'fax', 11, None, 'YES', 'varchar', 24, 72, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(24)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'customer_number', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'customer_name', 2, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'contact_last_name', 3, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'contact_first_name', 4, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'phone', 5, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'address_line1', 6, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'address_line2', 7, None, 'YES', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'city', 8, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'state', 9, None, 'YES', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'postal_code', 10, None, 'YES', 'varchar', 15, 60, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'country', 11, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'sales_rep_employee_number', 12, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'credit_limit', 13, None, 'YES', 'decimal', None, None, 10, 2, None, None, None, 'decimal(10,2)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employee_territories', 'employee_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employee_territories', 'territory_id', 2, None, 'NO', 'varchar', 20, 60, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(20)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'employee_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'last_name', 2, None, 'NO', 'varchar', 20, 60, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(20)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'first_name', 3, None, 'NO', 'varchar', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(10)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'title', 4, None, 'YES', 'varchar', 30, 90, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(30)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'title_of_courtesy', 5, None, 'YES', 'varchar', 25, 75, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(25)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'birth_date', 6, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'hire_date', 7, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'address', 8, None, 'YES', 'varchar', 60, 180, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(60)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'city', 9, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'region', 10, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'postal_code', 11, None, 'YES', 'varchar', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(10)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'country', 12, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'home_phone', 13, None, 'YES', 'varchar', 24, 72, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(24)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'extension', 14, None, 'YES', 'varchar', 4, 12, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(4)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'photo', 15, None, 'YES', 'longblob', 4294967295, 4294967295, None, None, None, None, None, 'longblob', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'notes', 16, None, 'YES', 'longtext', 4294967295, 4294967295, None, None, None, 'utf8', 'utf8_general_ci', 'longtext', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'reports_to', 17, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'photo_path', 18, None, 'YES', 'varchar', 255, 765, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(255)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'employee_number', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'last_name', 2, None, 'NO', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'first_name', 3, None, 'NO', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'extension', 4, None, 'NO', 'varchar', 10, 10, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(10)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'email', 5, None, 'NO', 'varchar', 100, 100, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(100)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'office_code', 6, None, 'NO', 'varchar', 10, 10, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(10)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'reports_to', 7, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'job_title', 8, None, 'NO', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'order_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'product_id', 2, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'unit_price', 3, '0', 'NO', 'double', None, None, 22, None, None, None, None, 'double', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'quantity', 4, '0', 'NO', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'discount', 5, '0', 'NO', 'double', None, None, 22, None, None, None, None, 'double', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'order_number', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'product_code', 2, None, 'NO', 'varchar', 15, 15, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(15)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'quantity_ordered', 3, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'price_each', 4, None, 'NO', 'decimal', None, None, 10, 2, None, None, None, 'decimal(10,2)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'order_line_number', 5, None, 'NO', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'order_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'customer_id', 2, None, 'YES', 'char', 5, 15, None, None, None, 'utf8', 'utf8_general_ci', 'char(5)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'employee_id', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'order_date', 4, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'required_date', 5, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'shipped_date', 6, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_via', 7, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'freight', 8, '0', 'YES', 'double', None, None, 22, None, None, None, None, 'double', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_name', 9, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_address', 10, None, 'YES', 'varchar', 60, 180, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(60)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_city', 11, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_region', 12, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_postal_code', 13, None, 'YES', 'varchar', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(10)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_country', 14, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'order_number', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'order_date', 2, None, 'NO', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'required_date', 3, None, 'NO', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'shipped_date', 4, None, 'YES', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'status', 5, None, 'NO', 'varchar', 15, 15, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'comments', 6, None, 'YES', 'text', 65535, 65535, None, None, None, 'latin1', 'latin1_swedish_ci', 'text', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'customer_number', 7, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'product_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'product_name', 2, None, 'NO', 'varchar', 40, 120, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(40)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'supplier_id', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'category_id', 4, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'quantity_per_unit', 5, None, 'YES', 'varchar', 20, 60, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(20)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'unit_price', 6, '0', 'YES', 'double', None, None, 22, None, None, None, None, 'double', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'units_in_stock', 7, '0', 'YES', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'units_on_order', 8, '0', 'YES', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'reorder_level', 9, '0', 'YES', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'discontinued', 10, '0', 'NO', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'products', 'product_code', 1, None, 'NO', 'varchar', 15, 15, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(15)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'products', 'product_name', 2, None, 'NO', 'varchar', 70, 70, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(70)', '', '', 'select,insert,update,references', '', '', None)

4. Hagamos unas queries facilitas:

4.1.  Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.

4.2.  Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.

In [6]:
mytabla = mysql.connector.connect(
                                  user = 'root', password = 'AlumnaAdalab',
                                  host = '127.0.0.1', database = 'northwind')

sql_query = ("""SELECT order_id, (unit_price * quantity) - ((unit_price * quantity) * discount) AS 'cantidad_gastada'
            FROM order_details AS t1
            WHERE (unit_price * quantity) - ((unit_price * quantity) * discount) = (
													SELECT MAX((unit_price * quantity) - ((unit_price * quantity) * discount))
                                                    FROM order_details AS t2
                                                    WHERE t1.order_id = t2.order_id)
                                                    
            ORDER BY (unit_price * quantity) - ((unit_price * quantity) * discount) DESC;""")

dataframe = pd.read_sql_query(sql_query, mytabla)

C:\Users\lidya\AppData\Local\Temp\ipykernel_1264\2539764084.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(sql_query, mytabla)

In [7]:
dataframe.head(1)

   order_id  cantidad_gastada
0     10981           15810.0

In [8]:
dataframe

     order_id  cantidad_gastada
0       10981           15810.0
1       10865           15019.5
2       10417           10540.0
3       10889           10540.0
4       10897            9903.2
..        ...               ...
826     10898              30.0
827     10767              28.0
828     10586              23.8
829     10807              18.4
830     10782              12.5

[831 rows x 2 columns]

4.3. Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.

In [9]:
mytabla = mysql.connector.connect(
                                  user = 'root', password = 'AlumnaAdalab',
                                  host = '127.0.0.1', database = 'northwind')

sql_query = ("""SELECT COUNT(order_id), day(order_date)
	            FROM orders														
	            GROUP BY DAY(order_date);""")

dataframe = pd.read_sql_query(sql_query, mytabla)

C:\Users\lidya\AppData\Local\Temp\ipykernel_1264\3569490032.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(sql_query, mytabla)

In [10]:
dataframe

    COUNT(order_id)  day(order_date)
0                27                4
1                31                5
2                21                8
3                31                9
4                28               10
5                27               11
6                28               12
7                22               15
8                32               16
9                29               17
10               26               18
11               29               19
12               26               22
13               30               23
14               30               24
15               26               25
16               30               26
17               23               29
18               29               30
19               14               31
20               26                1
21               27                2
22               33                6
23               22                7
24               25               13
25               25               14
26               27               20
27               22               21
28               32               27
29               22               28
30               30                3


4.4. Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

In [18]:
mytabla = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')


sql = ("""SELECT order_id, customer_id, employee_id
	      FROM orders
	      WHERE employee_id IN 
					(SELECT employee_id FROM employees WHERE first_name = "Nancy" AND last_name = "Davolio");""")

df = pd.read_sql_query(sql, mytabla)

C:\Users\lidya\AppData\Local\Temp\ipykernel_1264\2266683625.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, mytabla)

In [19]:
df

     order_id customer_id  employee_id
0       10258       ERNSH            1
1       10270       WARTH            1
2       10275       MAGAA            1
3       10285       QUICK            1
4       10292       TRADH            1
..        ...         ...          ...
118     11064       SAVEA            1
119     11067       DRACD            1
120     11069       TORTU            1
121     11071       LILAS            1
122     11077       RATTC            1

[123 rows x 3 columns]

5. Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [20]:
mytabla.close()